<meta charset="utf-8" />
<title>@ViewBag.title | @GlobalParameter.Config.Where(w=>w.key=="STATION_NAME").FirstOrDefault().value</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Booking Rooms" name="description" />
<meta content="Navy" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/image/logo.ico">